.container {
    margin-top: 5%;
}
div {
    margin-top: 0px;
}

h3 {
    margin: 0 auto;
    width: 25%;
}
h2 {
    display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  color: rgb(205, 71, 210);
}

form {
    margin: 0 auto;
    width: 25%;
    margin-top: 10%;
}

.form-group {
    position: relative;
    margin-bottom: 5px;
    /* color: rgb(110, 103, 103); */
    /* margin-bottom: -20px; */
    font-size: 15px;
}
.form-control {
    font-size: 1rem;
    border-top: 0;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    text-align: center;
    outline: transparent;
    /* border-color: rgb(191, 188, 188); */
}

.form-control:focus{
    box-shadow: none;
}

.form-control:nth-child(2) {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    color: rgb(176, 75, 179);
    font-size: 15px;
}

.input {
  font-size: 1rem;
  border-top: 0;
  border-left: 0;
  border-right: none;
  text-align: center;
  outline: transparent;
  width: 100%;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

input[type="submit"] {
    display: block;
    /* background-color: #007bff; */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
    color: rgb(185, 74, 185);
}

input[type="submit"]:hover {
    background-color: rgb(209, 89, 209);
}

/* input[type="submit"]:active {
    background-color: #005cbf;
} */
.btn-login-admin{
    text-align: center;
    color: rgb(209, 89, 209);
}
.btn {
    color: white;
    background-color: rgb(200, 78, 182);
    border-color: rgb(217, 158, 217);
}